.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    margin-top: 30px;
    padding-bottom: 40px;
}

/* Title */

.container .recents-container .back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.container .recents-container .back .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 30px 0 0 30px;
    text-decoration: none;
    padding: 10px;

    position: relative;
    z-index: 2;
}

.container .recents-container .back .logo::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #000000;
    transition: all 0.4s;
    border-radius: 5px;
    z-index: -1;
}

.container .recents-container .back .logo:hover h1 {
    color: #fff;
    letter-spacing: 5px;
    transform: translate(20px);
}

.container .recents-container .back .logo:hover svg {
    fill: #fff !important;
    transform: translate(15px);
}

.container .recents-container .back .logo:hover::after {
    width: 100%;
    padding: 0 35px 0 0;
}

.container .recents-container .back .logo h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    transition: all 0.3s;
}

.container .recents-container .back .logo svg {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    z-index: 3;
}

.container .recents-container .back .category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    padding: 10px;

    margin: 30px 30px 0 0;
    text-decoration: none;
    color: #000000;

    position: relative;
    transition: all 0.3s;
    z-index: 2;
}

.container .recents-container .back .category::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0;
    background: #000000;
    transition: all 0.3s;
    border-radius: 5px;
    z-index: -1;
}

.container .recents-container .back .category:hover {
    color: #fff !important;
}

.container .recents-container .back .category:hover::after {
    height: 100%;
}

/* Recents */

.container .recents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    min-width: 65%;
    min-height: 200px;

    margin: 0 1% 0 4%;
    padding-bottom: 20px;

    background: linear-gradient(236.36deg, #FFFFFF 10.05%, #F1F1F1 50%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container .recents-container .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;

    margin-top: 20px;
}

/* Cursos */


